
.todoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activePanel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clock {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button {
    padding: 0;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
