.todoItem {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transition: 0.25s;
    padding: 7px;
    margin-bottom: 13px;
    cursor: pointer;
    max-width: 700px;
}

.todoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoItem:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.activePanel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clock {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button {
    padding: 0;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.todoDescription {
    max-height: 0;
    transition: all 0.6s;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    margin-left: 10px;
}

.todoDescriptionActive {
    max-height: 100px;
    height: auto;
    color: #777;
    margin-left: 10px;
    transition: all 0.6s;
}
