.todoList {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-self: center;
    min-width: 700px;
}

.addTodo {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTodo:hover{
    transform: scale(102%);
    background-color: rgba(0, 0, 0, 0.2);
}